body{
    background-color: black;
    font-family: Grenze;
    color: white;
}  
header{
    font-size: 50px;
    padding: center;
    text-align: center;
    margin: auto;
    border-bottom:dashed;
}
h1{
    font-weight: 500;
}
.inicio{
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px;
}

    