body{
    background-color: black;
    font-family: Grenze;
    color: white;
}  
header{
    font-size: 50px;
    padding: center;
    text-align: center;
    margin: auto;
    border-bottom:dashed;
}
h1{
    font-weight: 500;
}
.inicio{
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px;
}
.outras img {
    opacity: 0.5;
    height: 200px;
    width: 150px;
    display: flexbox;
}
.outras img:hover {
    opacity: 1.0;
    border: 1px solid white;
}
    